@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300&display=swap");
body {
  margin: 0px;
}

#heading {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #ccc;
}

a {
  color: #3388ff;
}

#map {
  /* position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333; */
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.leaflet-canvas-layer {
  opacity: 0.55;
}

.leaflet-control-wind-position.leaflet-control {
  font-size: 20px;
  font-family: "Noto Sans Thai", sans-serif;
}
